<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.lesson03.mapper.ReviewMapper">
	<!-- EX01 -->
	<select id="selectReview" parameterType="int" resultType="com.example.lesson03.domain.Review">
		SELECT
			`id`
			,`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
		FROM
			`new_review`
		WHERE
			`id` = #{id}
	</select>
	
	<!-- EX02 -->
	<insert id="insertReview" parameterType="com.example.lesson03.domain.Review">
		INSERT INTO `new_review`
		(
			`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{storeId}
			, #{menu}
			, #{userName}
			, #{point}
			, #{review}
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- EX02 - 1 -->
	<insert id="insertReviewAsField" parameterType="map">
		INSERT INTO `new_review`
		(
			`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{storeId}
			, #{menu}
			, #{userName}
			, #{point}
			, #{review}
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- EX03 -->
	<update id="updateReviewById" parameterType="map">
		UPDATE `new_review`
		SET
			`review` = #{review}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
	
	<!-- EX04 -->
	<delete id="deleteReviewById" parameterType="int">
		DELETE
		FROM
			`new_review`
		WHERE
			`id` = #{id}
	</delete>
</mapper>